absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
annotated-types
antlr4-python3-runtime
anyio
asttokens
astunparse
attrs
audioread
av
beautifulsoup4
bert-score
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
coloredlogs
confection
conformer
contourpy
crcmod
cycler
cymem
Cython
dataclasses
datasets
decorator
deepspeed
diffusers
dill
dnspython
dynaconf
editdistance
einops
einx
encodec
et_xmlfile
evaluate
exceptiongroup
executing
fairseq
Faker
fastapi
ffmpy
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
funasr
gast
gdown
google-auth
google-crc32c
google-genai
google-pasta
googleapis-common-protos
gradio
gradio_client
grpcio
grpcio-status
h11
h5py
hf-xet
hjson
httpcore
httpx
huggingface-hub
humanfriendly
hydra-core
HyperPyYAML
idna
ifaddr
importlib_metadata
importlib_resources
inflect
intel-cmplr-lib-ur
intel-openmp
ipython
ipython_pygments_lexers
itsdangerous
jaconv
jamo
jedi
jieba
Jinja2
jiter
jmespath
joblib
jsonpointer
jsonschema
jsonschema-specifications
kaldiio
keras
kiwisolver
langcodes
language_data
lazy_loader
libclang
librosa
lightning
lightning-utilities
llvmlite
loguru
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
modelscope
more-itertools
mpmath
msgpack
multidict
multiprocess
murmurhash
namex
networkx
ninja
numba
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu11
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
omegaconf
onnxruntime
onnxruntime-gpu
openai
opencv-python
opencv-python-headless
openpyxl
openslide-bin
opt-einsum
optimum
optree
orjson
oss2
packaging
pandas
parso
pathlib_abc
pathy
pexpect
pillow
pooch
portalocker
preshed
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
pydub
pyee
Pygments
pylibsrtp
pynini
pynndescent
pyopenjtalk
pyOpenSSL
pyparsing
pypinyin
python-dateutil
python-dotenv
python-multipart
pytorch-lightning
pytorch-wpe
pytz
pyworld
PyYAML
ray
referencing
regex
requests
responses
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
sacrebleu
sacremoses
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentencepiece
setuptools
shellingham
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
sympy
tabulate
tbb
tensorboard
tensorboard-data-server
tensorboardX
tensorflow
termcolor
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
torch-complex
torchaudio
torchmetrics
torchtext
torchvision
tqdm
traitlets
transformers
triton
typeguard
typer
typing_extensions
tzdata
umap-learn
urllib3
uvicorn
vector-quantize-pytorch
vocos
wasabi
wcwidth
weasel
websockets
Werkzeug
WeTextProcessing
wget
wheel
wrapt
xxhash
yarl
zipp
